* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.card {
    border-radius: 10px;
}

.card-body .btn {
    border-radius: 50px;
    background: #fff;
    color: cadetblue;
    outline: none;
    text-transform: capitalize;
}

.card-body .btn:hover {
    background: cadetblue;
    color: #fff;
}

@media(max-width:1024px) {
    .card {
        align-content: center;
    }
}